

<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="background-color: #22272c">

  <nav class="navbar navbar-expand-lg width-navbar"  >
    <div class="container-fluid justify-content-between" >
      <a class="navbar-brand" >
        <img src="assets/agency-logo4-bg.png" [width]="width">
      </a>

      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
        <span class="navbar-toggler-icon material-icons" style="color: white"> menu </span>  
      </button>

  <div   [ngStyle]="!phone ? {'visibility': 'hidden'} : {'display':'none'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dignissimos, rem incidunt vitae iste expedita iusto sint aliquam cumque, sapiente error distinctio eaque quis voluptates fugit pariatur minus, necessitatibus odio.</div>    
      <div class="collapse navbar-collapse " id="navbarSupportedContent"> 

      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [ngStyle]="!phone ? {'margin-right': '20px'} : {}">Nosotros</a>
        </li>

        <li class="nav-item dropdown" [ngStyle]="!phone ? {'margin-right': '20px'} : {}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" st>
            Vehículos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" routerLink="../programa" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Vehículos nuevos</a></li>

            <li><a class="dropdown-item" routerLink="../programa" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Vehículos usados</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="../conferencias" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Usados destacados</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" [ngStyle]="!phone ? {'margin-right': '20px'} : {}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/localidad" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Gestoría</a></li>
            <li><a class="dropdown-item" routerLink="/localidad" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Lavadero</a></li>
            <li><a class="dropdown-item" routerLink="/localidad" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Taller</a></li>
          </ul>
        </li>

        <li class="nav-item" [ngStyle]="!phone ? {'margin-right': '20px'} : {}">
          <a class="nav-link active" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="cursor: pointer;">Contacto</a>
        </li>

        
      </ul>
    </div>
  </div>
  </nav>

</div>

  <!-- start offcanvas -->
  <div class="offcanvas offcanvas-end font" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color: rgb(248, 252, 252);">
    <div class="offcanvas-header">
      <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel"> <b>Contactos</b> </h5> -->
      <img src="assets/agency-logo4.png" style="width: 100%; margin-top: 20px;">
    </div>
    <div class="offcanvas-body">
        

      <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 30px; border: 1px solid rgba(230, 230, 230, 0.75); border-radius: 7px; padding: 7px; background-color: white;" class="whiteFrame" >

      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="position: absolute; top: 230px; right: 20px;"></button>
        
        <p style="margin-top: 10px;"><b>Luciano G. Barrozo </b>  

          <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px;" >
            
            <span style="width: 100%; text-align: start; color: rgb(41, 167, 125);">Celular</span>
            <span class="material-icons" style="margin-top: 12px; margin-left: 18px; color: rgb(41, 167, 125)"> phone_iphone </span>  
            <span class="fab fa-whatsapp" style="margin-top: 12px; margin-left: 10px;"></span>
            <a  href="https://wa.me/+5d42302416035?text=Hola!!%20" target="blank" style="margin-top: 15px; text-decoration: none;"> &nbsp; &nbsp;+54 2302 517546</a>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 20px;">
            <span style="width: 100%; text-align: start; color: rgb(41, 167, 125);">Correos electronicos</span>
            <span class="material-icons" style="margin-top: 12px; margin-left: 18px; color: rgb(41, 167, 125)"> email </span>  
            <span style="margin-left: 10px; margin-top: 12px"> barrozoautomotores@gmail.com </span>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 5px;">
            <span class="material-icons" style="margin-left: 18px; color: rgb(41, 167, 125)"> email </span>  
            <span style="margin-left: 10px; margin-top: 12px"> lucianobarrozo979@gmail.com</span>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 5px;">
            <span class="material-icons" style="margin-left: 18px; color: rgb(41, 167, 125)"> email </span>  
            <span style="margin-left: 10px; margin-top: 12px"> lucianobarrozo@hotmail.com</span>
          </div>


      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 10px; border: 1px solid rgba(230, 230, 230, 0.75); border-radius: 7px; padding: 7px; background-color: white;" class="whiteFrame">
      
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 30px;" >
            
          <span style="width: 100%; text-align: start; color: rgb(41, 167, 125);">Redes Sociales</span>
          <span class="fab fa-instagram" style="margin-top: 12px; margin-left: 18px; "></span>
          <span class="fab fa-facebook-f " style="margin-top: 12px; margin-left: 18px; "></span>
        </div>
      </div>

        <!-- <div fxLayoutAlign="space-evenly center">

          <a  href="https://wa.me/+5d42302416035?text=Hola!!%20" target="blank"> 
          <i class="fab fa-whatsapp "></i>
          </a>
           
          <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
          <span id="instagram">
            <i class="fab fa-instagram"></i></span>
          </a>
        
          <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
              <span id="instagram">
                <i class="fab fa-facebook-f "></i></span>
          </a>
        
          <a target="_blank" title="Instagram" href="">
            <span id="instagram">
            <i class="fas fa-envelope "></i></span>
         </a>
        </div>  -->


    

    </div>
  </div>
  <!-- end offcanvas -->
  
