<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="modal-container">
  

    <span class="material-icons notranslate" style="transform: scale(4); margin-top: 40px; color: rgb(4, 215, 215);"> engineering</span>
    

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100"  style="color: white; margin-top: 50px;">
        <span style="font-family: archivo-black; font-size: 1.7em; text-align: center;" fxFlex="100" > Estamos de Mantenimiento </span>
        <span style="font-family: audiowide; font-size: 1.3em; text-align: center; margin-top: 30px;" fxFlex="100" > Trabajamos para brindarte la mejor experiencia de compra</span>

        <!-- <div style="font-family: poppins-light; font-size: 0.8em; text-align: center;  margin-top: 10px;" fxFlex="100"> Volvé pronto!! Vamos a ofrecerte la mejor dfghjojh </div>  -->
        
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 20px; z-index: 999;">
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="border-radius: 7px; padding: 10px; color: white; font-size: 0.9em; font-weight: 400;  text-align: center; cursor: pointer; background-color: rgb(4, 215, 215); margin-top: 40px; height: 50px;" (click)="closeModal()" fxFlex="100">Continuar</div>
        </div>
    </div>

   
    </div>
